.cart {
  height: max-content;
  max-height: 20rem;
  z-index: 120;

  &__empty {
    text-align: center;
    h4 {
      padding: 1em;
    }
  }

  &__dropdown {
    position: absolute;
    background-color: #fff;
    color: #000;
    width: 40vw;
    max-width: 30rem;
    translate: -80%;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin: 0.5em 0;
    padding: 0.5em;

    button:last-of-type.cart__actions_close {
      background-color: #ddd;
      &:hover {
        background-color: #bbb;
      }
    }

    button {
      appearance: none;
      border: none;
      margin: 0 0.5em;
      text-transform: uppercase;
      padding: 0.5em 1em;
      &:first-of-type {
        background-color: gold;
        &:hover {
          background-color: #987c00;
        }
      }
    }
  }
  &__total {
    margin: 1em;
  }
}

@media (max-width: 992px) {
  .cart {
    &__dropdown {
      width: 100vw;
      translate: -80% 0;
    }
  }
}

@media (max-width: 556px) {
  .cart {
    &__actions {
      button {
        font-size: 18px;
      }
    }
  }
}
