.cart__button {
  appearance: none;
  padding: 1em;
  outline: none;
  cursor: pointer;
  background-color: gold;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 50%;
  scale: 0.7;
  z-index: 10;
  img {
    width: 1.5rem;
    transition: opacity 0.2s;
  }
  &:hover {
    img {
      opacity: 0.5;
    }
  }
}
