.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em;
  padding: 0.5em;
  border-bottom: 1px solid #333;

  .header {
    display: flex;
    text-align: center;
    &__image {
      width: 6rem;
      margin-right: 0.5em;
    }
    &__controls {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    * {
      margin-bottom: 0.2em;
    }

    &.checkout {
      font-size: 1.2rem;
    }
    &_amount {
      margin: 0;
      &_controls {
        display: inline;
        padding: 0;
        margin: 0 0 0 0.5em;
        button {
          appearance: none;
          background-color: #eee;
          text-align: center;
          width: 2rem;
          border: none;
          padding: 0.5em;
          cursor: pointer;
          &:hover {
            background-color: #ddd;
          }
        }
        span {
          margin: 0 0.4em;
        }
      }
    }
  }

  &__description {
    margin: 0.5em;
    padding: 1em 0.5em;

    background-color: #ddd;
  }

  a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
  }

  .remove {
    font-size: 0.6rem;
    cursor: pointer;
  }
}

@media (max-width: 556px) {
  .item {
    flex-direction: column;
    align-items: flex-start;
    &__details {
      margin-top: 1em;
      align-items: flex-start;
    }
    button {
      font-size: 0.8em;
    }

    .remove {
      font-size: 0.7rem;
    }
  }
}
