.cart {
  position: relative;
  height: max-content;
  max-height: 20rem;

  div {
    margin: 0.5em;
    padding: 0.5em;
  }

  &__dropdown {
    position: absolute;
    background-color: #fff;
    color: #000;
    width: 30rem;
    translate: -60%;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
    padding: 0.5em;
    border-bottom: 1px solid #333;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin: 0.5em;
    padding: 0.5em;

    button {
      appearance: none;
      border: none;
      margin: 0 0.5em;
      text-transform: uppercase;
      padding: 0.5em 1em;
      &:first-of-type {
        background-color: gold;
        &:hover {
          background-color: #987c00;
        }
      }
    }
  }
}
