.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em;
  padding: 0.5em;
  border-bottom: 1px solid #333;

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    * {
      margin-bottom: 0.2em;
    }
    .item__description_amount {
      margin: 0;
      &_controls {
        display: inline;
        padding: 0;
        margin: 0 0 0 0.5em;
        button {
          appearance: none;
          background-color: #eee;
          border: none;
          padding: 0.5em;
          cursor: pointer;
          &:hover {
            background-color: #ddd;
          }
        }
        span {
          margin: 0 0.4em;
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
  }

  .remove {
    font-size: 0.6rem;
    cursor: pointer;
  }
}

@media (max-width: 556px) {
  .item {
    flex-direction: column;
    align-items: flex-start;
    &__link {
      margin-bottom: 1em;
    }
    &__description {

      align-items: flex-start;;
    }
  }
}