.button {
  appearance: none;
  border: none;
  text-transform: uppercase;
  padding: 0.5em 1em;
  background-color: gold;
  cursor: pointer;
  transition: background-color 0.1s;
  &:hover {
    background-color: #987c00;
  }
}

@media (max-width: 556px) {
  .button {
    font-size: 1em;
  }
}
