.button {
  appearance: none;
  border: none;
  text-transform: uppercase;
  padding: 0.5em 1em;
  background-color: var(--gold);
  cursor: pointer;
  transition: background-color 0.1s;
  font-family: 'Poppins', sans-serif;
  &:hover {
    background-color: var(--dark-gold);
  }
}

@media (max-width: 556px) {
  .button {
    font-size: 1em;
  }
}
