.button {
  appearance: none;
  border: none;
  text-transform: uppercase;
  padding: 0.5em 1em;
  background-color: gold;
  cursor: pointer;
  &:hover {
    background-color: #987c00;
  }
}


@media (max-width: 556px) {
  .cart {
    &__actions {
      button {
        font-size: 18px;
      }
    }
  }
}