$gold: #ffd700;
$dark-gold: #987c00;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}
